<div class="row-fluid">  
  <div class="span4">  
    <h2>Step 1</h2>  
    <p>Get <a href="www.calibre-ebook.com">Calibre</a> e-book library manager and import your e-book collection.</p>
    <p><a class="btn btn-success btn-large" href="www.calibre-ebook.com/download">Setup Calibre now</a></p>  
  </div>
  <div class="span4">
    <h2>Step 2</h2>  
    <p>Setup Caliberator server and copy the "Calibre Library" folder to your server</p>
    <p><a class="btn btn-success btn-large" href="/how">Find out how</a></p>  
  </div> 
  <div class="span4">
    <h2>Step 3</h2>
    <p>Browse your collection and start reading from your device</p>  
    <p><a class="btn btn-success btn-large" href="/start">Start reading now</a></p>
  </div>
</div>
