<!DOCTYPE html>
<html>
<head>
    <title>Caliberator</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">Caliberator</a>  
        </div>
      </div>
  </header>
  <div class="container-fluid">
    <div class="row-fluid">
        <div class="span9">
            <div class="leaderboard">  
              <h1>Caliberator - Your e-books, liberated</h1>  
              <p>Creates an online book store from your own <a href="www.calibre-ebook.com">Calibre</a> e-book library. Completely liberates your e-book collection from Calibre manager.</p>
            </div>
          <%= yield %>
      </div>
    </div>
    <footer class="footer">
      <small>
        <a href="https://github.com/srirang/caliberator/">Caliberator</a> by Srinivasan Ranganathan
      </small>
    </footer>
  </div>
</body>
</html>
